@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
    @apply bg-white rounded shadow-md p-10 justify-around
}

.badge{
    @apply rounded-full p-2 absolute top-0 ml-2 mt-2
}

.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider bg-secondary-500 text-white
}
.icons {
    @apply h-14 w-14 group-hover:rounded-full px-3
}
body{
    @apply bg-gradient-to-r from-sky-600 to-red-600
}
.trow{
    @apply p-1.5 text-sm font-medium uppercase tracking-wider text-black bg-red-400 rounded-lg bg-opacity-50
}
.cardPart{
    @apply bg-white rounded overflow-hidden shadow-md relative;
    width: 22rem;
}
.hero{
    background-image: url('../Components/Images/blacks.jpg');
}